/* Error: unmatched "}".
 *     ,
 * 225 | }
 *     | ^
 *     '
 *   sass\layouts\_mymenu__card.scss 225:1  @import
 *   sass\style.scss 14:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: unmatched "}".\a     \2577 \a 225 \2502  }\a     \2502  ^\a     \2575 \a   sass\\layouts\\_mymenu__card.scss 225:1  @import\a   sass\\style.scss 14:9                   root stylesheet';
}
