.buttongradient {
    @include borderradius (25px);
    @include shadow(rgba(149, 157, 165, 0.5) 0px 8px 24px);
    background: $gradient;
    color: $white;
    border: 0;
    font-size: 16px;
    &:hover {
            @include brightness;
            @include shadow(rgb(94, 95, 96) 0px 8px 24px);
    }
}