  @keyframes menu {
    0% {
      transform: translatey(20px);
      opacity: 0;
    }
  
    100% {
      transform: translatey(0px);
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotateicon {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }